@font-face {
    font-family: "Cantarell";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("../fonts/Cantarell-VF.otf") format("opentype");
}

* {
    font-family: "Cantarell", system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

a {
    color: #1C71D8;
}