---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Crestview Community Association">
	<div class="bg-image"></div>
	<main class="bg-wrap">
		<h1 class="title">🏘️ Crestview Community Association</h1>
		<p class="instructions">
			The Crestview Community Association is dedicated to promoting <b>affordable housing</b> and <b>equal mobility</b> inside the Crestview neighborhood in ☀️ beautiful Austin, Texas.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/newsletter"
				title="Newsletter"
				body="Subscribe to & read the latest issue of the CCA Newsletter"
			/>
			<Card
				href="/join"
				title="Get involved!"
				body="Join the Crestview Community Association! Open for free to all neighborhood residents."
			/>
			<Card
				href="/contact"
				title="Get in touch"
				body="Directly contact the Crestview Community Association"
			/>
			<Card
				href="/bylaws-board"
				title="Bylaws & The Board"
				body="View our current bylaws, revisions & elected board members."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.bg-image {
		position: absolute;
		opacity: 0.2;
		background-image: url("/littledeli.jpg");
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-position-x: center;
	}
	.bg-wrap {
		position: relative;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	.title {
		color: #1C71D8;
	}
</style>
